.App {
  text-align: center;
 

}

.title {
  padding: 12px;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(231, 216, 58);
}

.nav-styles {
  padding: 12px;
  width: 100%;
  background-color: rgb(138, 159, 173);
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.nav-buttons {
  border: 1px solid white;
  color: white;
  padding: 12px;
  border-radius: 5px;
  background-color: inherit;
}

.nav-buttons:hover {
  background-color: black;
  border: none;
}

.view-btn:hover {
  background-color: yellowgreen;
  color: white;
}


.user-content {
  margin: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;

}

.user-card {
  background-color: #bee297;
  border-radius: 5px;
  width: 350px;
  height: 250px;

}

.btn {
  padding: 10px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.edit-btn:hover {
  background-color: rgb(41, 144, 121);
}

.del-btn:hover {
  background-color: crimson;
  color: white;
}

.childred {
  height: 90vh;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.text-areas{
  display: flex;
  flex-direction: column;
  gap : 0.5rem;
  margin : 10px;
}